/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 1080px;
	margin: 0 auto;
	background-color: #fff;
	height: 1500px;
}

.logo {
	max-height: 80px;
	padding-top: 25px;
	padding-left: 30px;
}

html {
	background-color: #eee;
}

span a {
	margin-right: 30px;
	text-align: left;
	font-size: 20px;
	color: #B9DDC4;
	float: right;
	padding-top: 40px;
	text-decoration: none;
	}

span a:hover {
	color: #008D37;
	text-decoration: underline;
}

h1 {
	display: inline-block;
	padding: 20px;
	margin: 0px;
}

.site-header {

}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




